[Unit]
Description=ES Connectivity Exporter

[Service]
User=root
Group=root
Restart=always
Type=simple
ExecStart=/home/duy_nguyen/elasticsearch_connectivity_exporter \
            -timeout-value 1000 \
            -port 38080 \
            -log-file /home/duy_nguyen/log.txt \
            -folder /home/duy_nguyen/targets/

[Install]
WantedBy=multi-user.target